// iPad (Portrait)
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  
}

// iPad (Landscape)
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) { 
  
}

// iPhone
@media screen and (max-device-width: 480px) {
  
  
  // Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you (j.mp/textsizeadjust)
  // html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}