<%= render :layout => 'layouts/partials/document' do %>

    <header>
    
    </header>
    
    <div id="page">
      <%= yield :layout %>
    </div>
    
    <footer>
    
    </footer>

<% end %>
